@font-face {
    font-family: "Primary";
    src: url('./fonts/Electrolize/Electrolize-Regular.ttf');
}

@font-face { 
    font-family: "Title";
    src: url('./fonts/Gemunu_Libre/GemunuLibre-VariableFont_wght.ttf');
}

* {
	font-family: Primary, Verdana, Arial, "Sans-Serif";
}

@keyframes gridmove {
    0% { background-position: 0 0;}
    100% { background-position: 0 25px; }
}


@keyframes active {
	0% { background-color: #000; color: lemonchiffon }
	50% { background-color: lemonchiffon; color: #000; }
	100% { background-color: #000; color: lemonchiffon }
}

.active {
	animation-name: active;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	border-radius: 0.5rem;
}

.set {
	animation-name: active;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	border-radius: 0.5rem;
}

body {
	background-color: #fff;
	-webkit-text-size-adjust: 100%; /* prevents text size from changing on orientation change */
    background-image:
      repeating-linear-gradient(#eee 0 1px, transparent 2px 100%),
      repeating-linear-gradient(90deg, #eee 0 1px, #fff 2px 100%);
    background-size: 25px 25px;
    animation: gridmove;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


.button, #instructions button {
	background-color: #666;
	text-decoration: none;
	border: 2px solid silver;
	padding: 2px 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	background-image: none;
}

.button:active, #instructions button:active {
	background-color: #000;
	color: #fff;
}

h1 {
    font-family: Title;
	color: #333;
    font-size: 3rem;
    margin: .5rem;
}

button, select, input {
    border: 2px inset #666;
    border-radius: 4px;
    padding: .25rem .5rem;
    font-size: 1rem;
    color: #000;
    font-weight: bold;
    background: linear-gradient(#fff,#bbb);
	margin: 3px;
}

@media (orientation: portrait) {
	.grid {
		width: 90vw;
		height: 90vw;
		padding: 1vw;
		margin: 5vh auto;
		max-width: 600px;
		max-height: 600px;
		button {
			font-size: 5vw;
			margin: 0.5vw
		}
	}}
@media (orientation: landscape) {
	.grid {
		width: 70vh;
		height: 70vh;
		padding: 1vh;
		margin: 5vh auto;
		button {
			font-size: 4vh;
			margin: 0.5vh
		}
	}
}

.grid {
	background-color: #ccc;
	margin-top: 30px;
	border-radius: 0.5rem;
    border: 1px solid #666;
	align-self: center;
	button {
		/* font-size: 1rem; */
		text-align: center;
		border-radius: 0.25rem;
	}
}


.check {
	font-size: 20px;
	background-color: #000000;
	color: #ffffff;
	padding: 10px;
	width: 30px;
	height: 30px;
	text-align: center;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-image: none;
}

.size-4 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	button {
		font-size: 4vw;
		span {
			font-size: 0.7rem;
		}	
	}
}

.size-5 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	button {
		font-size: 4vw;
		span {
			font-size: 0.7rem;
		}	
	}
}

.size-6 {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	button {
		font-size: 4vw;
		span {
			font-size: 0.7rem;
		}	
	}
}

.size-7 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	button {
		font-size: 4vw;
		span {
			font-size: 0.7rem;
		}	
	}
}

.size-8 {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	button {
		font-size: 3vw;
		span {
			font-size: 0.5rem;
		}	
	}
}

.size-9 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	button {
		font-size: 2.5vw;
		span {
			font-size: 0.5rem;
		}	
	}
}

.size-10  {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	button {
		font-size: 2vw;
		span {
			font-size: 0.5rem;
		}	
	}
}


.gridCell {
	color: #000;
	background-image: none;
	background-color: #fff;

}
.dynamic {
	color: #fff;
	background-image: none;
	background-color: #000;
}


button:disabled {
	border: none;
}

.runningTotal {
	display: none;
	position: relative;
	line-height: 0rem;
	width: 100%;
	text-align: right;
	/* font-family: Sans-Serif; */
    font-style: italic;
}

/* .runningTotal::before {
	content: "/";
	font-weight: normal;
	font-size: 3rem;
	line-height: 0;
	margin-left: 1rem;
} */

.dynamic a{
	text-decoration: none;
}
@keyframes guessPop {
	1% { opacity: 0; }
	100% { opacity: 1; }
}
#guessBoard {
	display: none;
	font-family: Arial, "Sans-Serif";
	font-size: 24px;
	padding: 0 3rem;
	text-align: center;
	width: fit-content;
	margin: 0 auto;
}

#guessBoard table{
	background-color: #ccc;
	padding: 5px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border: 1px solid #000;
	width: 100%;
}

#guessBoard table tr th {
	font-size: 1rem;
	letter-spacing: 0.1rem;
}

#guessBoard table tr td {
	border: 1px solid silver;
	background-color: #fff;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: table-cell;
}


#guessBoard table tr td.disabled {
	background-color: #fff;
	color: #eee;
}

#guessBoard table tr td a {
	text-decoration: none;
	color: black;
	display: block;
	height: max-content;
	position: relative;
}

#guessBoard table tr td.disabled a{
	color: #eee;
}

.left {
	font-size: .75rem;
	margin: 0 0 0 0.2rem;
	letter-spacing: 0.06rem;
}

.left::before {
	content: "[";
}

.left::after {
	content: "]";
}

.closeBox {
	font-size: 1rem;
	text-align: center;
	padding: 0 0.2rem;
	background-color: #fff;
	border-radius: .25rem;
}

#gridSettings {
	position:fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: #f9f9f9;
	z-index: 999;
	text-align: center;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%; /* prevents text size from changing on orientation change */
    background-image:
      repeating-linear-gradient(#eee 0 1px, transparent 2px 100%),
      repeating-linear-gradient(90deg, #eee 0 1px, #fff 2px 100%);
    background-size: 25px 25px;
    animation: gridmove;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#gridSettings div p {
	padding: 0 1rem;
}
#gridSettings table tr td { text-align: left;}
#gridSettings table tr td input {
    width: 9rem;
}
#gridSettings table tr td select {
    width: 10rem;
}
.score {
	background: radial-gradient( #fff, transparent);
    display: block;
    height: auto;
    /* margin-top: 2rem; */
    padding: 1rem;
}
.score div {
	display: block;
	margin-bottom: 1em;
	text-align:center;
	font-size: 1.5rem;
}
.levelButton {
	font-family: Arial, "Sans-Serif";
	font-size: 12px;
	border: 2px solid silver;
	text-decoration: none;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 4px 8px;
	margin: 5px;
	float: left;
	background-color: black;
	color: white;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.levelButton:visited {
	background-color: white;
	color: gray;
}

#fadeOut {
	background-color: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
#medium, #hard {
	display: none;
	}
.levelSet {
	display: block;
	float: left;
	text-decoration: none;
	border: 1px solid silver;
	padding: 3px 6px;
	color: white;
	background-color: #666;
	margin: 10px 22px;
	width: 22%;
	height: 30px;
	line-height: 30px;
}
#feedback {
	font-weight: bold;
}
#title {
	font-weight: bold;
	font-size: 24px;
	display: block;
	clear: both;
}
.randomSeed {
    text-decoration: none;
    font-weight: bold;
}
#customPuzzleSettings {
	display: block;
}
#showSeed {
	display: none;
  float: right;
}

@keyframes goodCheck {
	0% { border: 3px solid lightgreen; }
	50% { border: 3px solid green; }
	100% { border: 3px solid lightgreen; }
}

@keyframes badCheck {
	0% { border: 3px solid orange; }
	50% { border: 3px solid red; }
	100% { border: 3px solid orange; }
}

@keyframes showHint {
	0% { color: #fff; background-color: #000;}
	50% { color: blue; background: #fff;}
	100% { color: #fff; background-color: #000;}
}


/* .good, .bad{
  display: inherit;
  padding: 3px;
} */

.good {
	background-color: green;
	background-image: none;
	color: #fff;
	border: none;
	/* animation-name: goodCheck;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	padding: -3px; */
}

.bad {
	background-color: red;
	background-image: none;
	color: #fff;
	border: none;
	/* animation-name: badCheck;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	padding: -3px; */
}

.good {
	span.runningTotal{
		display:none !important;
	}
}

.hint {
	animation-name: showHint;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}


@keyframes solved {
	0% { transform: rotate(0deg);background-color:#000; color:silver;}
	50% { transform: rotate(360deg);background-color:green;color: #fff;}
	100% { transform: rotate(360deg);color: #000; background-color: silver; }
}

.solved {
	animation-name: solved;
	animation-duration: 3s;
	animation-iteration-count: 1;
	color: #000;
	background-color: #fff;
	border: none;
}



#audioSettings {
	display: none;
	z-index: 9;
	position: absolute;
	top: 0;
	background: rgba(255,255,255,0.9);
	padding: 23vh 0 0 0;
	border: 2px solid #000;
	line-height: 7vh;
	box-shadow: 0vh 1vh 5vh #000;
	border-radius: 1vh;
	left: 0;
	margin: 0;
	height: 100%;
	width:100%;
	text-align: center;
  #volume {
	margin-bottom:-1vh;
  }
}

#toggleAudioSettings {
	z-index: 9999;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
}

#zen {
	margin-top: 4vh;
}

#settings label {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 6rem;
}

#settings input[type="checkbox"] {
	display: none;
}

#settings input + label {
	background-color: red;
}

#settings input:checked + label {
	background-color: green
}

.v-good {
	background-image: linear-gradient(0deg, #000 0%, #000 44%, green 45%, green 55%, #000 56%, #000 100%);
}

.h-good {
	background-image: linear-gradient(90deg, #000 0%, #000 44%, green 45%, green 55%, #000 56%, #000 100%);
}

.vh-good {
	background-image: linear-gradient(90deg, transparent 0%, transparent 44%, green 45%, green 55%, transparent 56%, transparent 100%), linear-gradient(0deg, #000 0%, #000 44%, green 45%, green 55%, #000 56%, #000 100%);
}